@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SicretmonopersonalBold';
  src: url('/fonts/SicretmonopersonalBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'SicretmonopersonalBold', serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Для Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}